@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap");
* {
  margin: 0px;
  padding: 0px; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

table, th, td {
  border-collapse: collapse; }

input, select, a, button {
  outline: none;
  border: none; }

.wrap::after {
  content: "";
  display: block;
  clear: both; }

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0; }

#header_sub {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transition: 0.2s; }
  #header_sub .inner {
    width: 1180px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    z-index: 5; }
    #header_sub .inner h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
      #header_sub .inner h1 a {
        display: block;
        font: bold 28px/1 'arial';
        color: #fff;
        padding: 30px 0;
        box-sizing: border-box; }
    #header_sub .inner .menu_web #gnb {
      display: flex;
      justify-content: center; }
      #header_sub .inner .menu_web #gnb > li {
        position: relative; }
        #header_sub .inner .menu_web #gnb > li > a {
          display: block;
          font: bold 18px/1 'Noto Sans KR';
          color: #fff;
          padding: 40px 30px;
          box-sizing: border-box; }
        #header_sub .inner .menu_web #gnb > li > ul {
          display: none;
          width: 100%;
          position: absolute;
          top: 100px;
          left: 0;
          z-index: 3; }
          #header_sub .inner .menu_web #gnb > li > ul > li > a {
            display: block;
            width: 100%;
            height: 50px;
            font: 16px/50px 'Noto Sans KR';
            color: #333;
            text-align: center; }
    #header_sub .inner .menu_web .util {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%); }
      #header_sub .inner .menu_web .util::after {
        content: "";
        display: block;
        clear: both; }
      #header_sub .inner .menu_web .util li {
        float: left;
        position: relative; }
        #header_sub .inner .menu_web .util li a {
          display: block;
          font: 16px/1 'Noto Sans KR';
          color: #fff;
          padding: 30px 15px;
          box-sizing: border-box; }
        #header_sub .inner .menu_web .util li::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 1px;
          height: 10px;
          background: #ccc; }
        #header_sub .inner .menu_web .util li:last-of-type::after {
          display: none; }
    #header_sub .inner .btn_call {
      display: none;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 5; }
      #header_sub .inner .btn_call::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      #header_sub .inner .btn_call::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      #header_sub .inner .btn_call span {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        text-indent: -9999px;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        transition: 0.5s, opacity 0.5s 0.5s; }
      #header_sub .inner .btn_call.on::before {
        top: calc(50% - 1px);
        transform: rotate(45deg);
        background: #222; }
      #header_sub .inner .btn_call.on::after {
        bottom: calc(50% - 1px);
        transform: rotate(-45deg);
        background: #222; }
      #header_sub .inner .btn_call.on span {
        opacity: 0; }
    #header_sub .inner .menu_mobile {
      position: fixed;
      top: 0;
      right: -50vw;
      padding-top: 100px;
      box-sizing: border-box;
      width: 50vw;
      height: 100vh;
      background: #fff;
      text-align: center;
      transition: 0.5s;
      overflow: hidden; }
      #header_sub .inner .menu_mobile .util_mobile li a {
        display: block;
        font: 24px/1 'arial';
        color: #222;
        padding: 10px 0;
        box-sizing: border-box; }
      #header_sub .inner .menu_mobile #gnb_mobile > li > a {
        display: block;
        font: 28px/1 'arial';
        color: #222;
        padding: 15px 0;
        box-sizing: border-box; }
      #header_sub .inner .menu_mobile #gnb_mobile > li > ul {
        display: none; }
        #header_sub .inner .menu_mobile #gnb_mobile > li > ul > li > a {
          display: block;
          font: 24px/1 'arial';
          color: #555;
          padding: 10px 0;
          box-sizing: border-box; }
      #header_sub .inner .menu_mobile.on {
        right: 0; }
  #header_sub.on {
    background: #fff; }
    #header_sub.on .inner h1 a {
      color: #333; }
    #header_sub.on .menu_web #gnb li a {
      color: #333; }
    #header_sub.on .menu_web .util li a {
      color: #333; }
    #header_sub.on .btn_call::before {
      background: #333; }
    #header_sub.on .btn_call::after {
      background: #333; }
    #header_sub.on .btn_call span {
      background: #333; }

.content {
  width: 100%; }
  .content .subpage_visual {
    width: 100%;
    height: 400px;
    background: rgba(51, 51, 51, 0.445);
    position: relative; }
    .content .subpage_visual h1 {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      font: bold 44px/1 'Noto Sans KR';
      color: #fff; }
  .content .inner {
    width: 1180px;
    min-height: 400px;
    margin: 0 auto;
    padding: 100px 0;
    box-sizing: border-box;
    position: relative; }

#footer_sub {
  border-top: 1px solid #eee; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    font: 14px/1.7 'Noto Sans KR';
    color: #333; }
    #footer_sub .inner ul {
      display: inline-block; }
      #footer_sub .inner ul::after {
        content: "";
        display: block;
        clear: both; }
      #footer_sub .inner ul li {
        float: left;
        padding-right: 40px; }
        #footer_sub .inner ul li a {
          display: block;
          padding: 30px 0;
          font: bold 16px/1.7 'Noto Sans KR';
          color: #333; }
        #footer_sub .inner ul li:last-of-type {
          padding-right: 0; }
    #footer_sub .inner dl {
      display: inline-block; }
      #footer_sub .inner dl dt {
        float: left;
        padding: 0 10px; }
        #footer_sub .inner dl dt:nth-of-type(1) {
          padding-left: 0; }
      #footer_sub .inner dl dd {
        float: left;
        padding-right: 10px;
        position: relative; }
        #footer_sub .inner dl dd::after {
          content: "";
          display: block;
          width: 1px;
          height: 10px;
          background: #aaa;
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -6px; }
        #footer_sub .inner dl dd:last-of-type::after {
          display: none; }
    #footer_sub .inner h1 {
      display: block;
      padding-bottom: 20px;
      font: bold 28px/1 'arial'; }
    #footer_sub .inner p {
      display: block;
      padding-bottom: 30px; }

/* ---------- tablet ---------- */
@media screen and (max-width: 1179px) {
  #header_sub {
    padding: 0 20px;
    box-sizing: border-box; }
    #header_sub .inner {
      width: 100%;
      height: 80px; }
      #header_sub .inner .menu_web #gnb {
        display: none; }
      #header_sub .inner .menu_web .util {
        display: none; }
      #header_sub .inner .btn_call {
        display: block; }

  .content .subpage_visual {
    height: 300px; }
    .content .subpage_visual h1 {
      top: 50%;
      font-size: 4vw; }
  .content .inner {
    width: 100%;
    min-height: none;
    padding: 80px 20px; }

  #footer_sub .inner {
    width: 100%;
    text-align: center;
    padding: 0 100px; }
    #footer_sub .inner ul li {
      padding-right: 20px; } }
/* ---------- mobile ---------- */
@media screen and (max-width: 599px) {
  #header_sub .inner {
    height: 60px; }
    #header_sub .inner h1 a {
      font: bold 21px/1 'Noto Sans KR';
      padding: 0; }
    #header_sub .inner .menu_mobile {
      right: -100%;
      width: 100%; }

  .content .subpage_visual {
    height: 200px; }
    .content .subpage_visual h1 {
      top: 55%;
      font-size: 24px; }
  .content .inner {
    padding: 60px 20px; }

  #footer_sub .inner {
    font: 12px/1.5 'Noto Sans KR';
    padding: 0 16px; }
    #footer_sub .inner ul li {
      padding-right: 20px; }
      #footer_sub .inner ul li a {
        padding: 20px 0;
        font: bold 12px/1.7 'Noto Sans KR'; }
    #footer_sub .inner dl dt {
      padding: 0 6px; }
    #footer_sub .inner dl dd {
      padding-right: 8px; }
    #footer_sub .inner h1 {
      padding-bottom: 20px;
      font: bold 18px/1 'arial'; } }
.community .inner table {
  width: 100%;
  text-align: center;
  margin-bottom: 100px; }
  .community .inner table thead th {
    font: bold 16px/1 'Noto Sans KR';
    color: #333;
    border-top: 1px solid #555;
    border-bottom: 1px solid #eee;
    padding: 24px 0;
    box-sizing: border-box; }
    .community .inner table thead th:nth-of-type(1) {
      width: 5%; }
    .community .inner table thead th:nth-of-type(2) {
      width: 65%; }
    .community .inner table thead th:nth-of-type(3) {
      width: 15%; }
    .community .inner table thead th:nth-of-type(4) {
      width: 15%; }
  .community .inner table tbody tr {
    transition: 0.3s; }
    .community .inner table tbody tr td {
      font: 16px/1.7 'Noto Sans KR';
      color: #666;
      padding: 24px 0;
      box-sizing: border-box;
      border-bottom: 1px solid #eee; }
      .community .inner table tbody tr td:nth-of-type(2) {
        text-align: left;
        color: #000;
        padding-left: 24px; }
      .community .inner table tbody tr td a {
        color: #000; }
    .community .inner table tbody tr:hover {
      background: #efefef; }
.community .inner .search {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px; }
  .community .inner .search select {
    width: 150px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0 16px;
    margin-right: 5px; }
  .community .inner .search input[type=text] {
    width: 400px;
    height: 48px;
    padding-left: 16px;
    padding-right: 50px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: 0.3s; }
    .community .inner .search input[type=text]::placeholder {
      color: #aaa; }
    .community .inner .search input[type=text]:focus {
      border: 1px solid rgba(61, 90, 254, 0.7); }
  .community .inner .search button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer; }
    .community .inner .search button svg {
      font-size: 18px;
      color: #333; }
.community .inner .table_wrap {
  width: 100%; }
.community .inner .pagination {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 70px;
  left: 0;
  font-size: 0; }
  .community .inner .pagination .prev {
    display: inline-block;
    width: 44px;
    height: 44px;
    font: 14px/44px 'arial';
    color: #757575;
    transition: 0.3s; }
    .community .inner .pagination .prev:hover {
      color: #111;
      transform: scale(1.2); }
  .community .inner .pagination .next {
    display: inline-block;
    width: 44px;
    height: 44px;
    font: 14px/44px 'arial';
    color: #757575;
    transition: 0.3s; }
    .community .inner .pagination .next:hover {
      color: #111;
      transform: scale(1.2); }
  .community .inner .pagination p {
    display: inline-block; }
    .community .inner .pagination p a {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      margin: 0 5px;
      font: 13px/30px 'arial';
      color: #111;
      transition: 0.3s; }
      .community .inner .pagination p a:hover, .community .inner .pagination p a.on {
        background: rgba(61, 90, 254, 0.7);
        color: #fff;
        transform: scale(1.15); }

/* ---------- tablet ---------- */
@media screen and (max-width: 1179px) {
  .community .inner table thead th {
    font-size: 14px;
    padding: 20px 0; }
  .community .inner table tbody tr td {
    font-size: 15px;
    padding: 20px 0; }
    .community .inner table tbody tr td:nth-of-type(2) {
      padding-left: 20px; }
  .community .inner .search select {
    width: 120px;
    height: 46px;
    padding: 0 14px; }
  .community .inner .search input[type=text] {
    width: 330px;
    height: 46px;
    padding-left: 14px;
    font-size: 14px; }
  .community .inner .search button svg {
    font-size: 16px; }
  .community .inner .pagination {
    bottom: 50px; }
    .community .inner .pagination p a:nth-of-type(n+6):nth-of-type(n-10) {
      display: none; } }
/* ---------- mobile ---------- */
@media screen and (max-width: 599px) {
  .community .inner table thead th {
    font-size: 13px;
    padding: 18px 0; }
    .community .inner table thead th:nth-of-type(4) {
      display: none; }
  .community .inner table tbody tr td {
    font-size: 13px; }
    .community .inner table tbody tr td:nth-of-type(2) {
      padding: 0 18px; }
    .community .inner table tbody tr td:nth-of-type(4) {
      display: none; }
  .community .inner .search {
    width: 100%; }
    .community .inner .search select {
      width: 25%;
      height: 44px;
      padding: 0 10px; }
    .community .inner .search input[type=text] {
      width: 70%;
      height: 44px;
      padding-left: 10px;
      padding-right: 30px;
      font-size: 13px; }
    .community .inner .search button svg {
      font-size: 14px; } }
.department .inner .division {
  width: 100%;
  height: 700px;
  background-image: url(../img/department.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .department .inner .division .division_tree {
    display: none; }

/* ---------- tablet ---------- */
@media screen and (max-width: 1179px) {
  .department .inner .division {
    height: 60vw; } }
/* ---------- mobile ---------- */
@media screen and (max-width: 599px) {
  .department .inner .division {
    background-image: none;
    height: auto;
    display: flex;
    justify-content: center; }
    .department .inner .division .division_tree {
      display: block; }
      .department .inner .division .division_tree li span {
        display: block;
        width: 150px;
        height: 48px;
        background: #01395c;
        border-radius: 5px;
        font: 14px/48px 'Noto Sans KR';
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
        position: relative; }
        .department .inner .division .division_tree li span::after {
          content: "";
          display: block;
          width: 1px;
          height: calc(68px * 13 - 24px);
          background: #bbb;
          position: absolute;
          top: 48px;
          left: 50px; }
      .department .inner .division .division_tree li ul li span {
        background: #008eec;
        margin-left: 70px;
        position: relative; }
        .department .inner .division .division_tree li ul li span::before {
          content: "";
          display: block;
          width: 20px;
          height: 1px;
          background: #bbb;
          position: absolute;
          top: 50%;
          left: -20px; }
      .department .inner .division .division_tree li ul li:nth-of-type(1) span::after {
        height: calc(68px * 1 - 24px); }
      .department .inner .division .division_tree li ul li:nth-of-type(2) span::after {
        height: calc(68px * 3 - 24px); }
      .department .inner .division .division_tree li ul li:nth-of-type(3) span::after {
        height: calc(68px * 5 - 24px); }
      .department .inner .division .division_tree li ul li:nth-of-type(4) span::after {
        height: calc(68px * 1 - 24px); }
      .department .inner .division .division_tree li ul li ul li span {
        background: #ebebeb;
        color: #777;
        margin-left: 140px; }
        .department .inner .division .division_tree li ul li ul li span::after {
          display: none; } }
.youtube .inner #wrap {
  width: 100%;
  overflow: hidden; }
  .youtube .inner #wrap .swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .youtube .inner #wrap .swiper-wrapper .swiper-slide {
      width: 49%;
      padding: 30px;
      box-sizing: border-box;
      filter: saturate(0);
      transition: 0.3s; }
      .youtube .inner #wrap .swiper-wrapper .swiper-slide:hover {
        filter: saturate(1.2);
        transform: scale(1.03); }
      .youtube .inner #wrap .swiper-wrapper .swiper-slide .thumbnail {
        width: 100%;
        height: 250px; }
        .youtube .inner #wrap .swiper-wrapper .swiper-slide .thumbnail a {
          display: block;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          position: relative; }
          .youtube .inner #wrap .swiper-wrapper .swiper-slide .thumbnail a::after {
            content: "영상보기";
            font: bold 14px/1 'Noto Sans KR';
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.3s; }
          .youtube .inner #wrap .swiper-wrapper .swiper-slide .thumbnail a:hover::after {
            opacity: 1; }
      .youtube .inner #wrap .swiper-wrapper .swiper-slide .contents h2 {
        position: relative;
        font: bold 18px/1.5 'Noto Sans KR';
        color: #333;
        margin-top: 30px;
        padding-top: 25px;
        box-sizing: border-box; }
        .youtube .inner #wrap .swiper-wrapper .swiper-slide .contents h2::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 3px;
          background: #757575; }
      .youtube .inner #wrap .swiper-wrapper .swiper-slide .contents p {
        font: 14px/1.7 'Noto Sans KR';
        color: #757575;
        padding-top: 10px; }
      .youtube .inner #wrap .swiper-wrapper .swiper-slide .contents span {
        display: block;
        font: 12px/1 'Noto Sans KR';
        color: orange;
        padding-top: 20px;
        padding-bottom: 30px; }
    .youtube .inner #wrap .swiper-wrapper .swiper-slide-active {
      opacity: 1; }

.popup {
  position: relative;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9); }
  .popup .loading {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .popup .contents {
    width: 80%;
    height: 40vmax;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .popup span {
    position: absolute;
    top: 50px;
    right: 5vw;
    font: bold 16px/1 'Noto Sans KR';
    color: #fff;
    cursor: pointer; }

/* ---------- tablet ---------- */
@media screen and (max-width: 1179px) {
  .youtube .inner #wrap .swiper-wrapper .swiper-slide .thumbnail {
    height: 20vw; } }
/* ---------- mobile ---------- */
@media screen and (max-width: 599px) {
  .youtube .inner #wrap .swiper-wrapper .swiper-slide {
    width: 100%;
    padding: 15px; }
    .youtube .inner #wrap .swiper-wrapper .swiper-slide .thumbnail {
      height: 40vw; }
    .youtube .inner #wrap .swiper-wrapper .swiper-slide .contents h2 {
      font-size: 14px; }
    .youtube .inner #wrap .swiper-wrapper .swiper-slide .contents p {
      font-size: 12px; }

  .popup span {
    font-size: 14px; } }
.gallery .inner {
  width: 85%;
  min-height: 800px; }
  .gallery .inner .search_gallery {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%); }
    .gallery .inner .search_gallery input[type=text] {
      width: 600px;
      height: 60px;
      border-radius: 10px;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
      padding-left: 30px;
      padding-right: 70px;
      box-sizing: border-box;
      font: 18px/60px 'Noto Sans KR';
      color: #333; }
      .gallery .inner .search_gallery input[type=text]::placeholder {
        color: #aaa; }
    .gallery .inner .search_gallery button {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background: #fff;
      padding: 10px;
      box-sizing: border-box;
      cursor: pointer; }
      .gallery .inner .search_gallery button svg {
        font-size: 21px;
        color: #333; }
  .gallery .inner #gallery {
    width: 100%; }
    .gallery .inner #gallery .list {
      width: 100%;
      display: flex;
      align-content: space-between;
      flex-wrap: wrap;
      transform: translateY(100px);
      transition: 0.8s;
      opacity: 0; }
      .gallery .inner #gallery .list.on {
        transform: translateY(0);
        opacity: 1; }
      .gallery .inner #gallery .list li {
        width: 25%;
        padding: 18px;
        box-sizing: border-box;
        margin-bottom: 50px;
        transform: scale(1);
        transition: 0.3s; }
        .gallery .inner #gallery .list li a {
          width: 100%;
          height: 100%; }
          .gallery .inner #gallery .list li a img {
            width: 100%;
            filter: saturate(0);
            transition: 0.3s; }
        .gallery .inner #gallery .list li h3 {
          position: relative;
          font: bold 18px/1 'Noto Sans KR';
          color: #333;
          margin-top: 15px;
          padding-top: 18px;
          box-sizing: border-box; }
          .gallery .inner #gallery .list li h3::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            background: #757575; }
        .gallery .inner #gallery .list li p {
          font: 14px/1.7 'Noto Sans KR';
          color: #757575;
          padding-top: 5px; }
        .gallery .inner #gallery .list li:hover {
          transform: scale(1.03); }
        .gallery .inner #gallery .list li:hover a img {
          filter: saturate(1.2); }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9); }
  .popup img {
    width: 80%;
    height: 75%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .popup span {
    position: absolute;
    top: 50px;
    right: 5vw;
    font: bold 16px/1 'Noto Sans KR';
    color: #fff;
    cursor: pointer; }

/* ---------- tablet ---------- */
@media screen and (max-width: 1179px) {
  .gallery .inner .search_gallery input[type=text] {
    width: 50vw;
    font-size: 16px; }
  .gallery .inner #gallery .list li {
    width: 33.3%;
    padding: 15px;
    margin-bottom: 35px; }
    .gallery .inner #gallery .list li h3 {
      font-size: 16px; }
    .gallery .inner #gallery .list li p {
      font-size: 12px; } }
/* ---------- mobile ---------- */
@media screen and (max-width: 599px) {
  .gallery .inner .search_gallery {
    width: 100%;
    top: -22px; }
    .gallery .inner .search_gallery input[type=text] {
      width: 100%;
      height: 44px;
      font: 14px/44px 'Noto Sans KR'; }
    .gallery .inner .search_gallery button {
      right: 30px; }
      .gallery .inner .search_gallery button svg {
        font-size: 18px; }
  .gallery .inner #gallery .list li {
    width: 100%;
    margin-bottom: 30px; } }
.map_wrap {
  width: 100%; }
  .map_wrap .branch {
    display: flex;
    justify-content: space-between;
    text-align: center; }
    .map_wrap .branch li {
      width: calc(100%/3);
      height: 66px; }
      .map_wrap .branch li a {
        display: block;
        font: bold 16px/66px 'Noto Sans KR';
        color: #666;
        background: #efefef; }
        .map_wrap .branch li a.on {
          background: #3d5afe;
          color: #fff; }
  .map_wrap #map {
    width: 100%;
    height: 500px; }

.info > h2 {
  font: bold 30px/1 "Noto Sans KR";
  color: #333;
  padding-top: 50px;
  padding-bottom: 15px;
  text-align: center; }
.info > p {
  font: 18px/1 "Noto Sans KR";
  color: #757575;
  text-align: center; }
.info ul {
  padding: 30px 0;
  border-top: 1px solid #ccc;
  margin: 50px 0;
  display: flex;
  justify-content: space-between; }
  .info ul li {
    width: calc(100%/3);
    padding: 0 20px;
    box-sizing: border-box; }
    .info ul li h3 {
      font: bold 21px/1 'Noto Sans KR';
      color: #333;
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px; }
    .info ul li p {
      font: 16px/1.75 'Noto Sans KR';
      color: #555; }

@media screen and (max-width: 1179px) {
  .info > h2 {
    font-size: 24px; }
  .info > p {
    font-size: 16px; }
  .info ul li h3 {
    font-size: 18px; }
  .info ul li p {
    font-size: 16px; } }
@media screen and (max-width: 599px) {
  .map_wrap .branch li {
    height: 60px; }
    .map_wrap .branch li a {
      font: bold 14px/60px 'Noto Sans KR'; }
  .map_wrap #map {
    height: 300px; }

  .info > h2 {
    font-size: 18px;
    padding-bottom: 10px; }
  .info > p {
    font-size: 14px; }
  .info ul {
    display: block; }
    .info ul li {
      width: 100%;
      padding: 0; }
      .info ul li h3 {
        font-size: 16px;
        padding-bottom: 10px;
        margin-bottom: 0;
        border: none; }
      .info ul li p {
        font-size: 14px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc; } }
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transition: 0.2s; }
  #header .inner {
    width: 1180px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    z-index: 5; }
    #header .inner h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
      #header .inner h1 a {
        display: block;
        font: bold 28px/1 'arial';
        color: #fff;
        padding: 30px 0;
        box-sizing: border-box; }
    #header .inner .menu_web #gnb {
      display: flex;
      justify-content: center; }
      #header .inner .menu_web #gnb > li {
        position: relative; }
        #header .inner .menu_web #gnb > li > a {
          display: block;
          font: bold 18px/1 'Noto Sans KR';
          color: #fff;
          padding: 40px 30px;
          box-sizing: border-box; }
        #header .inner .menu_web #gnb > li > ul {
          display: none;
          width: 100%;
          position: absolute;
          top: 100px;
          left: 0;
          z-index: 3; }
          #header .inner .menu_web #gnb > li > ul > li > a {
            display: block;
            width: 100%;
            height: 50px;
            font: 16px/50px 'Noto Sans KR';
            color: #333;
            text-align: center; }
    #header .inner .menu_web .util {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%); }
      #header .inner .menu_web .util::after {
        content: "";
        display: block;
        clear: both; }
      #header .inner .menu_web .util li {
        float: left;
        position: relative; }
        #header .inner .menu_web .util li a {
          display: block;
          font: 16px/1 'Noto Sans KR';
          color: #fff;
          padding: 30px 15px;
          box-sizing: border-box; }
        #header .inner .menu_web .util li::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 1px;
          height: 10px;
          background: #ccc; }
        #header .inner .menu_web .util li:last-of-type::after {
          display: none; }
    #header .inner .btn_call {
      display: none;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 5; }
      #header .inner .btn_call::before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s; }
      #header .inner .btn_call::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
      #header .inner .btn_call span {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        text-indent: -9999px;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        transition: 0.5s, opacity 0.5s 0.5s; }
      #header .inner .btn_call.on::before {
        top: calc(50% - 1px);
        transform: rotate(45deg);
        background: #222; }
      #header .inner .btn_call.on::after {
        bottom: calc(50% - 1px);
        transform: rotate(-45deg);
        background: #222; }
      #header .inner .btn_call.on span {
        opacity: 0; }
    #header .inner .menu_mobile {
      position: fixed;
      top: 0;
      right: -50vw;
      padding-top: 100px;
      box-sizing: border-box;
      width: 50vw;
      height: 100vh;
      background: #fff;
      text-align: center;
      transition: 0.5s;
      overflow: hidden; }
      #header .inner .menu_mobile .util_mobile li a {
        display: block;
        font: 24px/1 'arial';
        color: #222;
        padding: 10px 0;
        box-sizing: border-box; }
      #header .inner .menu_mobile #gnb_mobile > li > a {
        display: block;
        font: 28px/1 'arial';
        color: #222;
        padding: 15px 0;
        box-sizing: border-box; }
      #header .inner .menu_mobile #gnb_mobile > li > ul {
        display: none; }
        #header .inner .menu_mobile #gnb_mobile > li > ul > li > a {
          display: block;
          font: 24px/1 'arial';
          color: #555;
          padding: 10px 0;
          box-sizing: border-box; }
      #header .inner .menu_mobile.on {
        right: 0; }
  #header.on {
    background: #fff; }
    #header.on .inner h1 a {
      color: #333; }
    #header.on .menu_web #gnb li a {
      color: #333; }
    #header.on .menu_web .util li a {
      color: #333; }
    #header.on .btn_call::before {
      background: #333; }
    #header.on .btn_call::after {
      background: #333; }
    #header.on .btn_call span {
      background: #333; }

figure {
  width: 100%;
  height: 600px;
  background: rgba(255, 0, 0, 0.5); }

#footer {
  border-top: 1px solid #eee; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    font: 14px/1.7 'Noto Sans KR';
    color: #333; }
    #footer .inner ul {
      display: inline-block; }
      #footer .inner ul::after {
        content: "";
        display: block;
        clear: both; }
      #footer .inner ul li {
        float: left;
        padding-right: 40px; }
        #footer .inner ul li a {
          display: block;
          padding: 30px 0;
          font: bold 16px/1.7 'Noto Sans KR';
          color: #333; }
        #footer .inner ul li:last-of-type {
          padding-right: 0; }
    #footer .inner dl {
      display: inline-block; }
      #footer .inner dl dt {
        float: left;
        padding: 0 10px; }
        #footer .inner dl dt:nth-of-type(1) {
          padding-left: 0; }
      #footer .inner dl dd {
        float: left;
        padding-right: 10px;
        position: relative; }
        #footer .inner dl dd::after {
          content: "";
          display: block;
          width: 1px;
          height: 10px;
          background: #aaa;
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -6px; }
        #footer .inner dl dd:last-of-type::after {
          display: none; }
    #footer .inner h1 {
      display: block;
      padding-bottom: 20px;
      font: bold 28px/1 'arial'; }
    #footer .inner p {
      display: block;
      padding-bottom: 30px; }

/* ---------- tablet ---------- */
@media screen and (max-width: 1179px) {
  #header {
    padding: 0 20px;
    box-sizing: border-box; }
    #header .inner {
      width: 100%;
      height: 80px; }
      #header .inner .menu_web #gnb {
        display: none; }
      #header .inner .menu_web .util {
        display: none; }
      #header .inner .btn_call {
        display: block; }

  #footer .inner {
    width: 100%;
    text-align: center;
    padding: 0 100px; }
    #footer .inner ul li {
      padding-right: 20px; } }
/* ---------- mobile ---------- */
@media screen and (max-width: 599px) {
  #header .inner {
    height: 60px; }
    #header .inner h1 a {
      font: bold 18px/1 'Noto Sans KR';
      padding: 0; }
    #header .inner .menu_mobile {
      right: -100%;
      width: 100%; }

  #footer .inner {
    font: 12px/1.5 'Noto Sans KR';
    padding: 0 16px; }
    #footer .inner ul li {
      padding-right: 20px; }
      #footer .inner ul li a {
        padding: 20px 0;
        font: bold 12px/1.7 'Noto Sans KR'; }
    #footer .inner dl dt {
      padding: 0 6px; }
    #footer .inner dl dd {
      padding-right: 8px; }
    #footer .inner h1 {
      padding-bottom: 20px;
      font: bold 18px/1 'arial'; } }

/*# sourceMappingURL=style.css.map */
